In [1]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.listdir('데이터')

['living_final.csv',
 'living_pop 복사본.csv.zip',
 'living_pop 복사본.csv',
 'starbucks_data_fin.csv',
 '경쟁사수_250m.csv',
 '경쟁사수_300m.csv',
 '경쟁사수_500m.csv',
 '스타벅스_공시지가_전처리_fin.csv',
 '스타벅스_대학교 거리 및 인근여부.csv',
 '스타벅스_지하철_반경별_개수.csv']

# 스타벅스 데이터

In [3]:
base_df = pd.read_csv('데이터/starbucks_data_fin.csv', encoding='euc-kr')

In [4]:
base_df = base_df[['사업장명', '인허가일자', '주소', 'x', 'y', 'type', 'parking']]
base_df.rename(columns={'parking':'주차장여부'}, inplace=True)
base_df

,사업장명,인허가일자,주소,x,y,type,주차장여부
0,더북한산,2023-02-10,서울특별시 은평구 대서문길 24-11 (진관동),126.947556,37.655458,일반,1
1,새절역,2023-02-10,서울특별시 은평구 증산로 371 (신사동),126.912863,37.589427,일반,0
2,고척아이파크,2023-01-12,"서울특별시 구로구 경인로43길 49 (고척동, 고척아이파크), 1층 D-101호",126.858221,37.499306,일반,0
3,경동1960,2022-12-14,서울특별시 동대문구 고산자로36길 3 (제기동),127.038685,37.579614,일반,1
4,신금호역,2022-12-08,서울특별시 성동구 금호로 158-1 (금호동1가) 1~5층 전체,127.020145,37.554967,일반,1
...,...,...,...,...,...,...,...
258,상왕십리역,2017-01-11,서울특별시 성동구 왕십리로 382 (하왕십리동),127.027907,37.565169,일반,1
259,명동센트럴,2018-11-19,서울특별시 중구 명동9길 16 (명동1가),126.985228,37.564643,일반,1
260,한강진역R,2018-02-20,서울특별시 용산구 이태원로 252 (한남동),127.000980,37.537131,R,1
261,홍대입구역사거리R,2018-01-02,서울특별시 마포구 양화로 125 (서교동),126.920360,37.554636,R,1
262,더종로R,2017-12-19,서울특별시 종로구 종로 51 (종로2가),126.983494,37.570804,R,0

# 대학교 데이터

In [5]:
univ_df = pd.read_csv('데이터/스타벅스_대학교 거리 및 인근여부.csv', encoding='euc-kr')

In [6]:
univ_df['대학거리점수'] = 0 
univ_df['대학거리점수'] = univ_df['HubDist'].apply(lambda x: 3 if x <= 250 else (2 if x <= 500 else (1 if x <= 1000 else 0)))

In [7]:
univ_df['대학거리점수'].value_counts()

0    185
1     48
2     23
3      7
Name: 대학거리점수, dtype: int64

In [8]:
univ_df.drop(['인허가일자','HubName', 'HubDist'], axis=1).sum()

사업장명        더북한산새절역고척아이파크경동1960신금호역이대역언주역왕십리역9번출구세종대로동대문디자...
대학인근여부_3                                                   10
대학인근여부_5                                                   30
대학거리점수                                                    115
dtype: object

In [9]:
univ_df_n = univ_df[['사업장명', '대학거리점수']]

In [10]:
univ_df_n

          사업장명  대학거리점수
0         더북한산       0
1          새절역       0
2       고척아이파크       1
3       경동1960       0
4         신금호역       0
..         ...     ...
258      상왕십리역       0
259      명동센트럴       1
260      한강진역R       1
261  홍대입구역사거리R       2
262       더종로R       0

[263 rows x 2 columns]

# 지하철 데이터

In [11]:
sub_df = pd.read_csv('데이터/스타벅스_지하철_반경별_개수.csv', encoding='euc-kr')

In [12]:
sub_df.drop('인허가일자', axis=1)

          사업장명  cnt_100m  cnt_250m  cnt_300m  cnt_500m  cnt_1km
0         더북한산         0         0         0         0        0
1          새절역         0         0         1         1        1
2       고척아이파크         0         0         0         0        1
3       경동1960         0         0         0         1        1
4         신금호역         0         0         0         1        1
..         ...       ...       ...       ...       ...      ...
258      상왕십리역         0         0         0         1        1
259      명동센트럴         0         1         1         1        1
260      한강진역R         0         1         1         1        1
261  홍대입구역사거리R         0         0         0         1        1
262       더종로R         0         0         0         1        1

[263 rows x 6 columns]

In [13]:
sub_df.drop('인허가일자', axis=1).sum()

사업장명        더북한산새절역고척아이파크경동1960신금호역이대역언주역왕십리역9번출구세종대로동대문디자...
cnt_100m                                                   21
cnt_250m                                                   97
cnt_300m                                                  124
cnt_500m                                                  215
cnt_1km                                                   252
dtype: object

In [14]:
sub_df_n = sub_df[['사업장명', 'cnt_500m']]

In [15]:
sub_df_n.rename(columns={'cnt_500m':'역세권여부'}, inplace=True)

In [16]:
sub_df_n

          사업장명  역세권여부
0         더북한산      0
1          새절역      1
2       고척아이파크      0
3       경동1960      1
4         신금호역      1
..         ...    ...
258      상왕십리역      1
259      명동센트럴      1
260      한강진역R      1
261  홍대입구역사거리R      1
262       더종로R      1

[263 rows x 2 columns]

# 공시지가 데이터

In [17]:
price_df = pd.read_csv('데이터/스타벅스_공시지가_전처리_fin.csv', encoding='euc-kr')

In [18]:
price_df_n = price_df[['사업장명', '전_공시지가', '후_공시지가']]

# 유동인구 데이터

In [19]:
liv_pop_df = pd.read_csv('데이터/living_final.csv', encoding='euc-kr')

In [20]:
liv_pop_df

          사업장명       pop_plus      pop_minus
0         더북한산   45784.082493   44052.132133
1          새절역    8884.416517    9049.597745
2       고척아이파크   68373.454136   61295.552584
3       경동1960   49581.497520   48545.323201
4         신금호역   35701.655765   36400.115189
..         ...            ...            ...
258      상왕십리역  105943.021978  105968.727273
259      명동센트럴  415573.655914  402345.258065
260      한강진역R   14405.766667   16192.569892
261  홍대입구역사거리R  218313.087912  221802.462366
262       더종로R  195543.120879  191732.619565

[263 rows x 3 columns]

# 경쟁사 데이터

In [21]:
os.listdir('데이터')

['living_final.csv',
 'living_pop 복사본.csv.zip',
 'living_pop 복사본.csv',
 'starbucks_data_fin.csv',
 '경쟁사수_250m.csv',
 '경쟁사수_300m.csv',
 '경쟁사수_500m.csv',
 '스타벅스_공시지가_전처리_fin.csv',
 '스타벅스_대학교 거리 및 인근여부.csv',
 '스타벅스_지하철_반경별_개수.csv']

In [22]:
cv_store_df_250 = pd.read_csv('데이터/경쟁사수_250m.csv', encoding='euc-kr')
cv_store_df_300 = pd.read_csv('데이터/경쟁사수_300m.csv', encoding='euc-kr')
cv_store_df_500 = pd.read_csv('데이터/경쟁사수_500m.csv', encoding='euc-kr')

In [23]:
dataframes = [cv_store_df_250, cv_store_df_300, cv_store_df_500]

for i, df in enumerate(dataframes):
    print('##df:', 'df_' + str(i+1))
    counts = df['기존_저가카페수'].value_counts().sort_index()
    print(counts)

##df: df_1
0    195
1     54
2     12
3      2
Name: 기존_저가카페수, dtype: int64
##df: df_2
0    171
1     58
2     29
3      5
Name: 기존_저가카페수, dtype: int64
##df: df_3
0    113
1     75
2     48
3     14
4     10
5      2
6      1
Name: 기존_저가카페수, dtype: int64

In [24]:
dataframes = [cv_store_df_250, cv_store_df_300, cv_store_df_500]

for i, df in enumerate(dataframes):
    print('##df:', 'df_' + str(i+1))
    counts = df['1년이내_저가점포_증가수'].value_counts().sort_index()
    print(counts)

##df: df_1
0    204
1     50
2      7
3      2
Name: 1년이내_저가점포_증가수, dtype: int64
##df: df_2
0    185
1     57
2     16
3      5
Name: 1년이내_저가점포_증가수, dtype: int64
##df: df_3
0    191
1     65
2      7
Name: 1년이내_저가점포_증가수, dtype: int64

In [25]:
dataframes = [cv_store_df_250, cv_store_df_300, cv_store_df_500]

for i, df in enumerate(dataframes):
    print('##df:', 'df_' + str(i+1))
    counts = df['기존_중고가카페수'].value_counts().sort_index()
    print(counts)

##df: df_1
0    97
1    83
2    47
3    21
4     7
5     5
6     1
7     1
8     1
Name: 기존_중고가카페수, dtype: int64
##df: df_2
0    63
1    80
2    60
3    29
4    11
5     9
6     4
7     3
8     2
9     2
Name: 기존_중고가카페수, dtype: int64
##df: df_3
0     16
1     38
2     47
3     37
4     32
5     24
6     18
7      9
8     12
9     10
10     3
11     4
12     1
13     3
14     4
15     2
16     1
18     1
19     1
Name: 기존_중고가카페수, dtype: int64

In [26]:
dataframes = [cv_store_df_250, cv_store_df_300, cv_store_df_500]

for i, df in enumerate(dataframes):
    print('##df:', 'df_' + str(i+1))
    counts = df['1년이내_중고가점포_증가수'].value_counts().sort_index()
    print(counts)

##df: df_1
0    221
1     32
2      7
3      2
4      1
Name: 1년이내_중고가점포_증가수, dtype: int64
##df: df_2
0    198
1     47
2     12
3      3
4      2
6      1
Name: 1년이내_중고가점포_증가수, dtype: int64
##df: df_3
0    187
1     57
2     11
3      6
4      2
Name: 1년이내_중고가점포_증가수, dtype: int64

In [27]:
# 병합
merge_df = pd.merge(base_df, univ_df_n, on='사업장명', how='inner') # 스타벅스 + 대학 정보
merge_df = pd.merge(merge_df, sub_df_n, on='사업장명', how='inner') # + 지하철 정보
merge_df = pd.merge(merge_df, cv_store_df_500, on='사업장명', how='inner') # + 경쟁사 정보
merge_df = pd.merge(merge_df, price_df_n, on='사업장명', how='inner') # + 공시지가 정보
merge_df = pd.merge(merge_df, liv_pop_df, on='사업장명', how='inner') # + 생활인구 정보
merge_df

,사업장명,인허가일자,주소,x,y,type,주차장여부,대학거리점수,역세권여부,기존_저가카페수,1년이내_저가점포_증가수,기존_중고가카페수,1년이내_중고가점포_증가수,전_공시지가,후_공시지가,pop_plus,pop_minus
0,더북한산,2023-02-10,서울특별시 은평구 대서문길 24-11 (진관동),126.947556,37.655458,일반,1,0,0,1,0,0,0,2.242766e+05,NaN,45784.082493,44052.132133
1,새절역,2023-02-10,서울특별시 은평구 증산로 371 (신사동),126.912863,37.589427,일반,0,0,1,3,0,3,0,3.089379e+06,NaN,8884.416517,9049.597745
2,고척아이파크,2023-01-12,"서울특별시 구로구 경인로43길 49 (고척동, 고척아이파크), 1층 D-101호",126.858221,37.499306,일반,0,1,0,4,1,2,0,4.124557e+06,NaN,68373.454136,61295.552584
3,경동1960,2022-12-14,서울특별시 동대문구 고산자로36길 3 (제기동),127.038685,37.579614,일반,1,0,1,1,0,0,0,4.738907e+06,4.738907e+06,49581.497520,48545.323201
4,신금호역,2022-12-08,서울특별시 성동구 금호로 158-1 (금호동1가) 1~5층 전체,127.020145,37.554967,일반,1,0,1,1,1,2,0,4.282292e+06,4.282292e+06,35701.655765,36400.115189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,상왕십리역,2017-01-11,서울특별시 성동구 왕십리로 382 (하왕십리동),127.027907,37.565169,일반,1,0,1,1,0,4,0,3.743210e+06,3.960314e+06,105943.021978,105968.727273
259,명동센트럴,2018-11-19,서울특별시 중구 명동9길 16 (명동1가),126.985228,37.564643,일반,1,1,1,0,0,14,1,2.091317e+07,2.910035e+07,415573.655914,402345.258065
260,한강진역R,2018-02-20,서울특별시 용산구 이태원로 252 (한남동),127.000980,37.537131,R,1,1,1,0,0,2,0,6.875296e+06,8.236715e+06,14405.766667,16192.569892
261,홍대입구역사거리R,2018-01-02,서울특별시 마포구 양화로 125 (서교동),126.920360,37.554636,R,1,2,1,2,1,6,1,6.664578e+06,7.693076e+06,218313.087912,221802.462366
262,더종로R,2017-12-19,서울특별시 종로구 종로 51 (종로2가),126.983494,37.570804,R,0,0,1,0,0,14,3,1.818397e+07,1.945097e+07,195543.120879,191732.619565

In [28]:
merge_df.rename(columns={'1년이내_저가점포_증가수':'1년이내_저가카페_증가수', 
                         '1년이내_중고가점포_증가수': '1년이내_중고가카페_증가수'}, inplace=True)

In [29]:
merge_df_n = merge_df.dropna()

In [30]:
merge_df_n

,사업장명,인허가일자,주소,x,y,type,주차장여부,대학거리점수,역세권여부,기존_저가카페수,1년이내_저가카페_증가수,기존_중고가카페수,1년이내_중고가카페_증가수,전_공시지가,후_공시지가,pop_plus,pop_minus
3,경동1960,2022-12-14,서울특별시 동대문구 고산자로36길 3 (제기동),127.038685,37.579614,일반,1,0,1,1,0,0,0,4.738907e+06,4.738907e+06,49581.497520,48545.323201
4,신금호역,2022-12-08,서울특별시 성동구 금호로 158-1 (금호동1가) 1~5층 전체,127.020145,37.554967,일반,1,0,1,1,1,2,0,4.282292e+06,4.282292e+06,35701.655765,36400.115189
5,이대역,2022-12-06,서울특별시 서대문구 신촌로 183 (대현동),126.946280,37.557086,일반,1,3,1,3,2,4,0,7.550222e+06,7.550222e+06,21854.044227,21642.624230
6,언주역,2022-11-16,서울특별시 강남구 봉은사로 222 (역삼동),127.036472,37.507775,일반,1,0,1,2,0,3,0,1.253836e+07,1.253836e+07,41863.420787,41190.928611
7,왕십리역9번출구,2022-11-07,서울특별시 성동구 고산자로 234 (행당동),127.035267,37.560543,일반,1,1,1,2,0,8,0,5.873567e+06,5.873567e+06,99231.371997,110156.585706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,상왕십리역,2017-01-11,서울특별시 성동구 왕십리로 382 (하왕십리동),127.027907,37.565169,일반,1,0,1,1,0,4,0,3.743210e+06,3.960314e+06,105943.021978,105968.727273
259,명동센트럴,2018-11-19,서울특별시 중구 명동9길 16 (명동1가),126.985228,37.564643,일반,1,1,1,0,0,14,1,2.091317e+07,2.910035e+07,415573.655914,402345.258065
260,한강진역R,2018-02-20,서울특별시 용산구 이태원로 252 (한남동),127.000980,37.537131,R,1,1,1,0,0,2,0,6.875296e+06,8.236715e+06,14405.766667,16192.569892
261,홍대입구역사거리R,2018-01-02,서울특별시 마포구 양화로 125 (서교동),126.920360,37.554636,R,1,2,1,2,1,6,1,6.664578e+06,7.693076e+06,218313.087912,221802.462366
262,더종로R,2017-12-19,서울특별시 종로구 종로 51 (종로2가),126.983494,37.570804,R,0,0,1,0,0,14,3,1.818397e+07,1.945097e+07,195543.120879,191732.619565

In [31]:
merge_df_n.sort_values('인허가일자', ascending=False)

,사업장명,인허가일자,주소,x,y,type,주차장여부,대학거리점수,역세권여부,기존_저가카페수,1년이내_저가카페_증가수,기존_중고가카페수,1년이내_중고가카페_증가수,전_공시지가,후_공시지가,pop_plus,pop_minus
3,경동1960,2022-12-14,서울특별시 동대문구 고산자로36길 3 (제기동),127.038685,37.579614,일반,1,0,1,1,0,0,0,4.738907e+06,4.738907e+06,49581.497520,48545.323201
4,신금호역,2022-12-08,서울특별시 성동구 금호로 158-1 (금호동1가) 1~5층 전체,127.020145,37.554967,일반,1,0,1,1,1,2,0,4.282292e+06,4.282292e+06,35701.655765,36400.115189
5,이대역,2022-12-06,서울특별시 서대문구 신촌로 183 (대현동),126.946280,37.557086,일반,1,3,1,3,2,4,0,7.550222e+06,7.550222e+06,21854.044227,21642.624230
6,언주역,2022-11-16,서울특별시 강남구 봉은사로 222 (역삼동),127.036472,37.507775,일반,1,0,1,2,0,3,0,1.253836e+07,1.253836e+07,41863.420787,41190.928611
7,왕십리역9번출구,2022-11-07,서울특별시 성동구 고산자로 234 (행당동),127.035267,37.560543,일반,1,1,1,2,0,8,0,5.873567e+06,5.873567e+06,99231.371997,110156.585706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,연신내,2017-02-23,서울특별시 은평구 통일로 867 (갈현동),126.919913,37.620417,일반,1,0,1,1,0,7,0,4.239109e+06,4.505063e+06,20653.800000,22473.111111
255,연희동,2017-02-13,서울특별시 서대문구 연희로 97 (연희동),126.930475,37.566702,일반,0,1,0,0,0,1,0,2.643057e+06,2.796019e+06,42939.044444,34773.545455
256,외대정문,2017-01-23,서울특별시 동대문구 이문로 93 (이문동),127.059030,37.595346,일반,0,3,0,1,0,2,0,2.465522e+06,2.615391e+06,12994.758242,10000.260870
257,용산파크타워,2017-01-19,"서울특별시 용산구 서빙고로 67 (용산동5가, 파크타워)",126.970389,37.523818,일반,0,0,1,0,0,1,0,7.054379e+06,7.754609e+06,8912.098901,9767.210526
258,상왕십리역,2017-01-11,서울특별시 성동구 왕십리로 382 (하왕십리동),127.027907,37.565169,일반,1,0,1,1,0,4,0,3.743210e+06,3.960314e+06,105943.021978,105968.727273

질문: 20170111의 유동인구 3개월 이전 평균은 어떻게?

In [32]:
merge_df_n['1년이내_저가카페_증가수'].value_counts().sort_index()

0    188
1     64
2      7
Name: 1년이내_저가카페_증가수, dtype: int64

In [33]:
merge_df_n[merge_df_n['1년이내_저가카페_증가수']>=4]

Empty DataFrame
Columns: [사업장명, 인허가일자, 주소, x, y, type, 주차장여부, 대학거리점수, 역세권여부, 기존_저가카페수, 1년이내_저가카페_증가수, 기존_중고가카페수, 1년이내_중고가카페_증가수, 전_공시지가, 후_공시지가, pop_plus, pop_minus]
Index: []

In [34]:
merge_df_n[merge_df_n['1년이내_중고가카페_증가수']>=6]

Empty DataFrame
Columns: [사업장명, 인허가일자, 주소, x, y, type, 주차장여부, 대학거리점수, 역세권여부, 기존_저가카페수, 1년이내_저가카페_증가수, 기존_중고가카페수, 1년이내_중고가카페_증가수, 전_공시지가, 후_공시지가, pop_plus, pop_minus]
Index: []

In [35]:
merge_df_n.iloc[:,5:].describe(include='all')

,type,주차장여부,대학거리점수,역세권여부,기존_저가카페수,1년이내_저가카페_증가수,기존_중고가카페수,1년이내_중고가카페_증가수,전_공시지가,후_공시지가,pop_plus,pop_minus
count,259,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,2.590000e+02,2.590000e+02,259.000000,259.000000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,일반,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.528958,0.440154,0.826255,1.007722,0.301158,4.266409,0.405405,7.885594e+06,8.578260e+06,110343.094533,107651.820762
std,NaN,0.500127,0.767111,0.379624,1.164701,0.515307,3.530936,0.748208,6.707208e+06,7.278234e+06,138891.244501,133853.799429
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.736354e+05,2.931370e+05,1384.279570,1305.625000
25%,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,3.583092e+06,3.903678e+06,26697.602461,25932.556120
50%,NaN,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,0.000000,5.743897e+06,5.915618e+06,54367.385351,53446.967742
75%,NaN,1.000000,1.000000,1.000000,2.000000,1.000000,6.000000,1.000000,9.886261e+06,1.077769e+07,141932.193548,132754.233212
max,NaN,1.000000,3.000000,1.000000,6.000000,2.000000,19.000000,4.000000,5.022483e+07,5.022483e+07,769845.250186,751869.505495

In [36]:
merge_df_n

,사업장명,인허가일자,주소,x,y,type,주차장여부,대학거리점수,역세권여부,기존_저가카페수,1년이내_저가카페_증가수,기존_중고가카페수,1년이내_중고가카페_증가수,전_공시지가,후_공시지가,pop_plus,pop_minus
3,경동1960,2022-12-14,서울특별시 동대문구 고산자로36길 3 (제기동),127.038685,37.579614,일반,1,0,1,1,0,0,0,4.738907e+06,4.738907e+06,49581.497520,48545.323201
4,신금호역,2022-12-08,서울특별시 성동구 금호로 158-1 (금호동1가) 1~5층 전체,127.020145,37.554967,일반,1,0,1,1,1,2,0,4.282292e+06,4.282292e+06,35701.655765,36400.115189
5,이대역,2022-12-06,서울특별시 서대문구 신촌로 183 (대현동),126.946280,37.557086,일반,1,3,1,3,2,4,0,7.550222e+06,7.550222e+06,21854.044227,21642.624230
6,언주역,2022-11-16,서울특별시 강남구 봉은사로 222 (역삼동),127.036472,37.507775,일반,1,0,1,2,0,3,0,1.253836e+07,1.253836e+07,41863.420787,41190.928611
7,왕십리역9번출구,2022-11-07,서울특별시 성동구 고산자로 234 (행당동),127.035267,37.560543,일반,1,1,1,2,0,8,0,5.873567e+06,5.873567e+06,99231.371997,110156.585706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,상왕십리역,2017-01-11,서울특별시 성동구 왕십리로 382 (하왕십리동),127.027907,37.565169,일반,1,0,1,1,0,4,0,3.743210e+06,3.960314e+06,105943.021978,105968.727273
259,명동센트럴,2018-11-19,서울특별시 중구 명동9길 16 (명동1가),126.985228,37.564643,일반,1,1,1,0,0,14,1,2.091317e+07,2.910035e+07,415573.655914,402345.258065
260,한강진역R,2018-02-20,서울특별시 용산구 이태원로 252 (한남동),127.000980,37.537131,R,1,1,1,0,0,2,0,6.875296e+06,8.236715e+06,14405.766667,16192.569892
261,홍대입구역사거리R,2018-01-02,서울특별시 마포구 양화로 125 (서교동),126.920360,37.554636,R,1,2,1,2,1,6,1,6.664578e+06,7.693076e+06,218313.087912,221802.462366
262,더종로R,2017-12-19,서울특별시 종로구 종로 51 (종로2가),126.983494,37.570804,R,0,0,1,0,0,14,3,1.818397e+07,1.945097e+07,195543.120879,191732.619565

In [37]:
merge_df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259 entries, 3 to 262
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   사업장명            259 non-null    object
 1   인허가일자           259 non-null    object
 2   주소              259 non-null    object
 3   x               259 non-null    float64
 4   y               259 non-null    float64
 5   type            259 non-null    object
 6   주차장여부           259 non-null    int64
 7   대학거리점수          259 non-null    int64
 8   역세권여부           259 non-null    int64
 9   기존_저가카페수        259 non-null    int64
 10  1년이내_저가카페_증가수   259 non-null    int64
 11  기존_중고가카페수       259 non-null    int64
 12  1년이내_중고가카페_증가수  259 non-null    int64
 13  전_공시지가          259 non-null    float64
 14  후_공시지가          259 non-null    float64
 15  pop_plus        259 non-null    float64
 16  pop_minus       259 non-null    float64
dtypes: float64(6), int64(7), object(4)
memory usage: 36.4+ KB

In [38]:
merge_df_n.to_csv('preprocessed_df.csv', encoding='euc-kr', index=False)